main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item.active,
.carousel-item-start,
.carousel-item-next {
  display: flex !important;
  justify-content: center !important;
}

.carousel-item.active {
  cursor: pointer;
}
